@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  z-index: 4;
}

/* ====================== [ Start progress-wrap ] ====================== */
.progress-wrap {
  position: fixed;
  bottom: 3px;
  right: 3px;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 400ms linear;
}
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.progress-wrap::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f077";
  text-align: center;
  line-height: 44px;
  font-size: 13px;
  font-weight: 900;
  color: #b7b095;
  left: 0;
  top: 0;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  z-index: 1;
  transition: all 400ms linear;
}
.progress-wrap svg path {
  fill: none;
}
.progress-wrap svg.progress-circle path {
  stroke: #b7b095;
  stroke-width: 4;
  box-sizing: border-box;
  transition: all 400ms linear;
}

header .navbar {
  position: fixed;
  top: 0;
  height: 7rem;
  width: 100%;
  z-index: 5;
  background: #ffffff;
  border-bottom: 2px solid #b7b095;
  padding: 0.5rem;
}
header .navbar .container {
  position: relative;
  top: 1.2rem;
}
header .navbar .container .img-logo {
  width: 15em;
  padding-left: 1rem;
}
header .navbar-content {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #ffffff;
  position: absolute;
  top: 7rem;
  left: 0;
  animation: slideDown 0.3s ease-in-out;
}
header .nav-item {
  margin: 0 2rem;
  position: relative;
  display: flex;
  height: 2rem;
  align-items: center;
}
header .nav-item .nav-link.mail {
  display: none;
}
header .nav-item .nav-link.phone {
  display: none;
}
header .nav-item .sub-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 96px;
  border-top: 2.5px solid #b7b095;
}
header .nav-item .sub-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  left: 0;
  top: 163%;
  width: 160px;
  text-align: left;
  z-index: 1;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
header .nav-item .sub-menu ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header .nav-item .sub-menu ul li a:hover {
  background-color: #b7b095;
  color: #777;
}
header .nav-item:hover .sub-menu {
  display: block;
  left: -37px;
  z-index: 20;
}
header .nav-item .nav-link {
  text-decoration: none;
  color: #b7b095;
  display: inline-block;
  transition: color 0.5s;
}
header .nav-item .nav-link:hover {
  color: #ffffff;
}
header .nav-item .nav-link::before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}
header .nav-item .nav-link i {
  font-size: 15px;
  display: inline-block;
}
header .nav-item .fa-angle-down::before {
  content: "\f107";
}
header .nav-item .nav-link.mail::before {
  content: "\f0e0";
}
header .nav-item .nav-link.phone::before {
  content: "\f095";
}
header .navbar-content.show {
  display: flex;
  align-items: end;
  background-color: #777;
  z-index: -1;
  width: 10rem;
  height: 13rem;
  padding-top: 2rem;
  font-family: "Barlow", "sans-serif";
  border: 0.5px solid #b7b095;
  top: 84px;
  left: -8px;
}
header .img-toggle {
  position: relative;
  width: 4rem;
  float: right;
  padding-right: 1rem;
  bottom: 3.4rem;
}
header .menu-icon {
  display: block;
}
header .close-icon {
  display: none;
}
header .navbar-content.show ~ .toggle .menu-icon {
  display: none;
}
header .navbar-content.show ~ .toggle .close-icon {
  display: block;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  margin-top: 6rem;
  position: relative;
  width: 100%;
  background-image: url("../images/fond.jpg");
  background-size: cover;
  background-position: center;
  padding: 4rem 0;
  height: auto;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.58);
  z-index: 1;
}
.hero .hero-presentation {
  text-align: center;
  position: relative;
  z-index: 2;
}
.hero .hero-presentation h1 {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-size: 42px;
  color: #b7b095;
}
.hero .hero-presentation h2 {
  font-family: "Cormorant", "serif";
  font-size: 24px;
  letter-spacing: 5px;
  margin: 1.5rem;
  color: #ffffff;
  font-weight: 500;
}
.hero .hero-presentation h3 {
  font-family: "Barlow", "sans-serif";
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  margin: 0 1rem 1rem;
  color: #ffffff;
  letter-spacing: 2px;
  line-height: 20px;
}
.hero .hero-presentation div {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .hero-presentation div a {
  background: transparent;
  padding: 1rem 2rem;
  width: 220px;
  position: relative;
  color: #ffffff;
  transition: all 0.4s;
  z-index: 3;
  text-decoration: none;
  font-family: "Barlow", "sans-serif";
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-presentation div a span {
  position: relative;
  z-index: 2;
}
.hero .hero-presentation div a i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hero .hero-presentation div a i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #b7b095;
}
.hero .hero-presentation div a i::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  background-color: #b7b095;
}
.hero .hero-presentation .shape-bottom {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
}
.hero .hero-presentation .shape-bottom img {
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  transform: rotate(180deg);
  max-width: 115%;
}

.intro {
  margin: 2rem 0.5rem;
  display: flex;
  align-items: center;
  height: auto;
  flex-direction: column;
}
.intro .intro-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  padding: 1rem;
}
.intro .intro-text h2 {
  color: #b7b095;
  font-family: "Barlow", "sans-serif";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 1rem;
  line-height: 20px;
}
.intro .intro-text h3 {
  font-family: "Cormorant", "serif";
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.intro .intro-text p {
  font-family: "Barlow", "sans-serif";
  color: #777;
  line-height: 2;
  font-size: 17px;
}
.intro .intro-text p span {
  font-weight: 700;
}
.intro .intro-text div {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.intro .intro-text div a {
  background: transparent;
  padding: 1rem 2rem;
  width: 220px;
  position: relative;
  color: #ffffff;
  transition: all 0.4s;
  z-index: 3;
  text-decoration: none;
  font-family: "Barlow", "sans-serif";
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .intro-text div a span {
  position: relative;
  z-index: 2;
}
.intro .intro-text div a i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.intro .intro-text div a i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #b7b095;
}
.intro .intro-text div a i::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  background-color: #b7b095;
}
.intro .intro-img-container {
  display: flex;
}
.intro .intro-img-container.flex {
  flex: 1;
}
.intro .intro-img-container .intro-img {
  display: flex;
}
.intro .intro-img-container .intro-img img {
  width: 100%;
  height: auto;
}
.intro .intro-img-container .intro-img .img-border {
  border-radius: 30px;
  border: 15px solid #ffffff;
}
.intro .intro-img-container .intro-img .img-border.img1 {
  border-right: 0;
  border-bottom: 0;
  width: 86%;
}
.intro .intro-img-container .intro-img .img-border.img2 {
  width: 120%;
  border-right: 0;
}
.intro .intro-img-container .intro-img .img-border.img3 {
  position: relative;
  top: 3rem;
  width: 145rem;
  right: 2rem;
}

.menu-container {
  position: relative;
  width: 100%;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 2rem 0.5rem;
  height: auto;
}
.menu-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}
.menu-container .menu-container-text {
  position: relative;
  z-index: 2;
}
.menu-container .menu-container-text h2 {
  color: #b7b095;
  font-family: "Barlow", "sans-serif";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 2rem;
}
.menu-container .menu-container-text .container-menu a {
  text-decoration: none;
  color: #b7b095;
  text-align: center;
}
.menu-container .menu-container-text .container-menu a .menu-img {
  width: 16rem;
  filter: brightness(0.7);
  opacity: 0.9;
  border-radius: 10px;
}
.menu-container .menu-container-text .container-menu a .subtitle-menu {
  position: relative;
  bottom: 14rem;
  font-family: "Cormorant", "serif";
  font-size: 45px;
  letter-spacing: 5px;
  margin: 2rem 0 3rem;
}

.boxes {
  margin-top: 2rem;
  position: relative;
  width: 100%;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  padding: 2rem 2rem;
  height: auto;
}
.boxes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}
.boxes .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.boxes .container h2 {
  color: #b7b095;
  font-family: "Barlow", "sans-serif";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 1.5rem;
  text-align: center;
  z-index: 3;
}
.boxes .container .grid-bx {
  z-index: 3;
}
.boxes .container .grid-bx .box {
  position: relative;
  text-align: center;
  height: 16rem;
  margin-bottom: 2rem;
}
.boxes .container .grid-bx .box:hover {
  opacity: 0.5;
}
.boxes .container .grid-bx .box:hover .black {
  color: #000000;
  font-weight: 600;
}
.boxes .container .grid-bx .box:hover .white {
  color: #b7b095;
  font-weight: 600;
}
.boxes .container .grid-bx .box .img-box {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.boxes .container .grid-bx .box .img-box img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.6s;
  opacity: 0.6;
  border-radius: 11px;
}
.boxes .container .grid-bx .box .box-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  left: 0;
  right: 0;
  transition: all 0.6s;
  text-transform: uppercase;
  font-size: 38px;
  font-family: "Cormorant", "serif";
  color: #ffffff;
}
.boxes .container .grid-bx .box p a {
  text-decoration: none;
  transition: all 0.6s;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 0;
}

.team {
  margin: 2rem 0.5rem 0;
  display: flex;
  align-items: center;
  height: auto;
  flex-direction: column;
  scroll-margin-top: 80px;
}
.team .container-team {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  padding: 1rem 1rem 0;
}
.team .container-team h2 {
  color: #b7b095;
  font-family: "Barlow", "sans-serif";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 1rem;
}
.team .container-team h3 {
  font-family: "Cormorant", "serif";
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.team .container-team h3 span {
  text-transform: capitalize;
}
.team .container-team p {
  font-family: "Barlow", "sans-serif";
  color: #777;
  line-height: 2;
  font-size: 17px;
}
.team .container-team .part-team.img {
  display: flex;
  justify-content: center;
}
.team img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.portfolio {
  filter: brightness(0.8);
}
.portfolio h2 {
  color: #b7b095;
  font-family: "Barlow", "sans-serif";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 6px;
  padding: 2rem 0;
  text-align: center;
}
.portfolio .container_desk {
  display: none;
}
.portfolio .container_mobile div {
  padding: 0.5rem 1rem;
}
.portfolio .container_mobile div img {
  filter: brightness(0.9) contrast(1.1) saturate(1.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.customers {
  margin: 2rem 0.5rem;
  display: flex;
  align-items: center;
  height: auto;
  flex-direction: column;
}
.customers h2 {
  color: #b7b095;
  font-family: "Barlow", "sans-serif";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 1rem;
}
.customers h3 {
  font-family: "Cormorant", "serif";
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.customers img {
  width: 10rem;
}
.customers div {
  font-family: "Barlow", "sans-serif";
}
.customers .ti-widget.ti-goog .ti-header-write-btn-container .ti-header-write-btn {
  background-color: #b7b095;
  border-color: #b7b095;
}
.customers .ti-widget.ti-goog .ti-col-1 .ti-reviews-container,
.customers .ti-widget.ti-goog .ti-col-1 .ti-footer {
  margin-bottom: 0;
}

.events-carousel {
  padding: 2rem 1.5rem;
  background-color: #18181d;
  text-align: center;
  height: auto;
  font-family: "Barlow", "sans-serif";
  scroll-margin-top: 80px;
}
.events-carousel h2 {
  color: #b7b095;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 1rem;
}
.events-carousel .swiper-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.events-carousel .swiper-container .swiper-wrapper {
  display: flex;
}
.events-carousel .swiper-container .swiper-slide {
  flex: 0 0 auto;
  width: 100%;
  padding: 1rem;
}
.events-carousel .swiper-container .swiper-slide .event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem 0.7rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.events-carousel .swiper-container .swiper-slide .event-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.events-carousel .swiper-container .swiper-slide .event-card .event-date {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}
.events-carousel .swiper-container .swiper-slide .event-card .event-name {
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #b7b095;
}
.events-carousel .swiper-container .swiper-pagination {
  margin-top: 20px;
}
.events-carousel .swiper-container .swiper-button-next,
.events-carousel .swiper-container .swiper-button-prev {
  color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.events-carousel .swiper-container .swiper-button-next {
  right: 10px;
}
.events-carousel .swiper-container .swiper-button-prev {
  left: 10px;
}
.events-carousel .swiper-container .swiper-pagination-bullet {
  background: #8d8585;
}
.events-carousel .swiper-container .swiper-pagination-bullet-active {
  background: #b7b095;
  opacity: 1;
}

@media (min-width: 640px) {
  .swiper-slide {
    width: calc(50% - 10px);
  }
}
@media (min-width: 768px) {
  .swiper-slide {
    width: calc(33.33% - 10px);
  }
}
@media (min-width: 1024px) {
  .swiper-slide {
    width: calc(25% - 10px);
  }
}
.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  scroll-margin-top: 80px;
}
.form h2 {
  color: #b7b095;
  font-family: "Barlow", "sans-serif";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 1rem;
}
.form p {
  font-family: "Barlow", "sans-serif";
  color: #777;
  line-height: 2;
  font-size: 17px;
}
.form p span {
  font-weight: 600;
  text-decoration: underline;
}
.form form {
  width: 100%;
}
.form form label {
  display: block;
  font-weight: bold;
  color: #b7b095;
  margin-bottom: 0.5rem;
}
.form form input[type=text],
.form form input[type=email],
.form form input[type=tel],
.form form textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: #fff;
  font-family: "Barlow", "sans-serif";
  font-size: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}
.form form input[type=text]:focus,
.form form input[type=email]:focus,
.form form input[type=tel]:focus,
.form form textarea:focus {
  border-color: #2c6ed5;
  outline: none;
}
.form form textarea {
  height: 150px;
  resize: vertical;
}
.form form input[type=submit] {
  background-color: #b7b095;
  color: white;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}
.form form input[type=submit]:hover {
  background-color: #777;
}
.form .map-container {
  margin-top: 2rem;
}
.form .map-container iframe {
  width: 100%;
  height: 300px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #18181d;
  font-family: "Barlow", "sans-serif";
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  height: auto;
}
footer .container {
  max-width: 100%;
  padding: 0 1rem;
  margin: auto;
}
footer .container h3 {
  color: #b7b095;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
footer .container .row-social {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
  overflow: hidden;
}
footer .container .row-social .logo img {
  position: relative;
  right: 1rem;
  width: 9.6rem;
}
footer .container .row-social .social {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  left: 1.2rem;
}
footer .container .row-social .social a {
  width: 35px;
  height: 35px;
  line-height: 49px;
  border: 1px solid #b7b095;
  text-align: center;
  font-size: 12px;
}
footer .container .row-social .social a img {
  position: absolute;
  top: 9px;
}
footer .container .row-social .social a img.facebook {
  left: 0.3rem;
}
footer .container .row-social .social a img.tripadvisor {
  left: 4rem;
}
footer .container .row-adress {
  color: #ffffff;
}
footer .container .row-adress ul {
  font-size: 14px;
}
footer .container .row-adress li {
  margin-bottom: 1rem;
}
footer .container .row-adress .title {
  display: table-cell;
  white-space: nowrap;
  padding-right: 0.5rem;
}
footer .container .row-adress .dots {
  height: 4px;
  width: 100%;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  position: relative;
  top: -5px;
  display: table-cell;
  white-space: nowrap;
}
footer .container .row-adress span {
  white-space: nowrap;
  padding-left: 0.5rem;
  display: table-cell;
}
footer .container .row-adress p {
  color: #777;
  font-size: 14px;
  line-height: 20px;
}
footer .container .row-adress div.wpforms-container-full input[type=submit],
footer .container .row-adress div.wpforms-container-full button[type=submit],
footer .container .row-adress div.wpforms-container-full .wpforms-page-button,
footer .container .row-adress .wp-core-ui div.wpforms-container-full input[type=submit],
footer .container .row-adress .wp-core-ui div.wpforms-container-full button[type=submit],
footer .container .row-adress .wp-core-ui div.wpforms-container-full .wpforms-page-button {
  background-color: #b7b095 !important;
  color: var(--wpforms-button-text-color) !important;
  align-items: center;
  font-size: 15px;
}
footer .container .row-adress div.wpforms-container-full input[type=submit]:hover, footer .container .row-adress div.wpforms-container-full input[type=submit]:active,
footer .container .row-adress div.wpforms-container-full button[type=submit]:hover,
footer .container .row-adress div.wpforms-container-full button[type=submit]:active,
footer .container .row-adress div.wpforms-container-full .wpforms-page-button:hover,
footer .container .row-adress div.wpforms-container-full .wpforms-page-button:active,
footer .container .row-adress .wp-core-ui div.wpforms-container-full input[type=submit]:hover,
footer .container .row-adress .wp-core-ui div.wpforms-container-full input[type=submit]:active,
footer .container .row-adress .wp-core-ui div.wpforms-container-full button[type=submit]:hover,
footer .container .row-adress .wp-core-ui div.wpforms-container-full button[type=submit]:active,
footer .container .row-adress .wp-core-ui div.wpforms-container-full .wpforms-page-button:hover,
footer .container .row-adress .wp-core-ui div.wpforms-container-full .wpforms-page-button:active {
  background-color: #777 !important;
  color: var(--wpforms-button-text-color) !important;
}
footer .container .row-adress div.wpforms-container-full input[type=email] {
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
footer .container .row-adress div.wpforms-container-full input[type=email]::-moz-placeholder {
  color: #ffffff !important;
}
footer .container .row-adress div.wpforms-container-full input[type=email]::placeholder {
  color: #ffffff !important;
}
footer .container .row-adress div.wpforms-container-full * {
  display: flex;
  justify-content: center;
}
footer .container .row-adress div.wpforms-container-full .wpforms-form .wpforms-submit-container {
  position: relative;
  top: 0.4rem;
}
footer .container .ftail .container {
  max-width: 540px;
  padding: 0;
  display: flex;
  justify-content: center;
}
footer .container .ftail .container p {
  color: #777;
  line-height: 2;
  font-size: 13px;
}
footer .container .ftail .container p a {
  color: #b7b095;
  text-decoration: none;
}
footer .container .ftail .container .legale-notices ul {
  display: flex;
  justify-content: center;
}
footer .container .ftail .container .legale-notices ul a {
  text-decoration: none;
  color: #b7b095;
  font-size: 12px;
  padding-left: 0.2rem;
}

/* ====================== [ Page menu ] ====================== */
.plats-container {
  padding-top: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 19rem;
  margin-bottom: -12rem;
}
.plats-container h1 {
  font-family: "Barlow", "sans-serif";
  color: #b7b095;
  font-size: 28px;
}
.plats-container .cards-bx {
  display: flex;
  padding: 3.5rem 1rem 2rem;
}
.plats-container .cards-bx .card {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
}
.plats-container .cards-bx .card .img-card {
  margin: 2rem;
  overflow: hidden; /* Ensure the zoomed image does not overflow */
  position: relative;
}
.plats-container .cards-bx .card .img-card img {
  width: 25rem;
  height: 20rem;
  transition: transform 0.3s ease; /* Smooth transition for zoom effect */
  display: block;
}
.plats-container .cards-bx .card .card-title-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
}
.plats-container .cards-bx .card .card-title-container h3 {
  font-family: "Cormorant", "serif";
  font-weight: 700;
  margin: 0;
  font-size: 1.5em; /* Taille de la police */
  color: #fff; /* Couleur du texte */
  text-align: center;
  padding: 10px;
  position: relative;
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition for zoom effect and color change */
}
.plats-container .cards-bx .card .card-title-container h3:hover {
  color: #b7b095;
  transform: scale(1.1); /* Zoom effect */
}
.plats-container .cards-bx .card .card-title-container h3.active {
  color: #b7b095;
}
.plats-container .cards-bx .card .card-title-container h3.active:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #b7b095;
}
.plats-container .cards-bx .card.active .card-title {
  color: #b7b095;
}
.plats-container .cards-bx .card.active .card-title:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #b7b095;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.plats-container .cards-bx .card:hover .img-card img, .plats-container .cards-bx .card:hover .card-title, .plats-container .cards-bx .card:hover .card-title-container h3 {
  transform: scale(1.1); /* Zoom effect */
  color: #b7b095;
}
.plats-container #categories-anchor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}
.plats-container #categories-anchor h3 {
  color: #b7b095;
  font-size: 30px;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
}

.category-links {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.category-links a {
  font-family: "Cormorant", "serif";
  font-weight: 700;
  margin: 0 1rem;
  font-size: 30px;
  color: #000;
  text-decoration: none;
  position: relative;
}
.category-links a:hover {
  color: #b7b095;
}
.category-links a.active {
  color: #b7b095;
}

/* Styles pour les plats */
#plats-grid {
  display: none; /* Masquer par défaut */
  width: 40rem;
  height: 42rem;
  max-width: 1200px;
  background-repeat: no-repeat;
  background-size: 109% 115%;
  background-position: center;
  padding: 4rem 2.5rem;
  margin: 3rem auto; /* Centrer horizontalement */
  background-image: none; /* Par défaut, pas de fond */
}
#plats-grid.has-plats {
  display: block; /* Afficher lorsque les plats sont chargés */
  background-image: url("../images/1.png"); /* Afficher le fond lorsque les plats sont chargés */
}
#plats-grid .plat-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
#plats-grid .plat-card .plat-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding: 0.5rem 0;
}
#plats-grid .plat-card .plat-header .plat-title {
  font-family: "Cormorant", "serif";
  font-size: 25px;
  color: #777;
  text-decoration: none;
  transition: color 0.2s;
  font-weight: 600;
}
#plats-grid .plat-card .plat-header .menu-line {
  flex-grow: 1;
  border-bottom: 1px dotted #b7b095;
  margin: 0 14px;
  align-self: center;
}
#plats-grid .plat-card .plat-header .plat-price {
  font-family: "Cormorant", "serif";
  font-size: 25px;
  font-weight: 700;
  color: #777;
  align-self: center;
}
#plats-grid .plat-card .plat-description {
  font-family: "Barlow", "sans-serif";
  font-size: 0.9em;
  color: #777;
  margin-top: 0.3rem;
}
#plats-grid .plat-card p {
  font-family: "Cormorant", "serif";
  font-size: 20px;
  font-weight: 300;
  color: #18181d;
}
@media (max-width: 768px) {
  #plats-grid .plat-card {
    width: 100%;
  }
}

.card-title {
  margin: 0;
  font-size: 1.5em; /* Taille de la police */
  color: #fff; /* Couleur du texte */
  text-align: center;
  padding: 10px;
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition for zoom effect and color change */
}

.formule-content {
  display: none; /* Masquer par défaut */
  width: 40rem;
  height: 42rem;
  max-width: 1200px;
  background-repeat: no-repeat;
  background-size: 109% 115%;
  background-position: center;
  padding: 4rem 2.5rem;
  margin: 0 auto; /* Centrer horizontalement */
  background-image: none; /* Par défaut, pas de fond */
  height: 28rem;
}
.formule-content .formule-header {
  font-family: "Cormorant", "serif";
  font-size: 27px;
  text-decoration: underline;
  font-weight: 700;
  color: #b7b095;
  text-align: center;
  margin-bottom: 1rem;
}
.formule-content ul {
  list-style: none;
  padding: 0;
}
.formule-content ul li {
  font-family: "Barlow", "sans-serif";
  font-size: 1.1em;
  color: #000;
  margin-bottom: 0.5rem;
  text-align: center; /* Centrer le texte */
}
.formule-content .separator {
  width: 80%;
  height: 1px;
  background-color: #18181d; /* Couleur de la ligne */
  margin: 2rem auto; /* Espacement autour de la ligne et centrage */
}

/* ====================== [ Page boissons ] ====================== */
.boissons-container {
  padding-top: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 19rem;
  margin-bottom: -12rem;
}
.boissons-container h1 {
  font-family: "Barlow", "sans-serif";
  color: #b7b095;
  font-size: 28px;
}

@media screen and (min-width: 768px) {
  .intro {
    flex-direction: row;
    margin: 4rem 15rem;
  }
  .intro .intro-img-container .intro-img {
    display: flex;
  }
  .intro .intro-img-container .intro-img .intro-img_left {
    position: relative;
    left: 47px;
  }
  .intro .intro-img-container .intro-img img {
    height: auto;
  }
  .intro .intro-img-container .intro-img .img-border.img2 {
    width: 100%;
  }
  .intro .intro-img-container .intro-img .img-border.img1 {
    width: 86%;
  }
  .intro .intro-img-container .intro-img .img-border.img3 {
    width: 136rem;
  }
  .team .container-team {
    padding-top: 3rem;
  }
  .team .container-team h2 {
    position: relative;
    left: 50%;
  }
  .team .container-team .presentation {
    display: flex;
    flex-direction: row-reverse;
    margin: 2rem 18rem;
  }
  .team .container-team .part-team {
    width: 156%;
    align-items: center;
  }
  .team .container-team .part-team .team-img {
    width: 100%;
  }
  .boxes .container {
    margin: 0 16rem;
  }
  .boxes .container h2 {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .form {
    justify-content: space-between;
    padding: 5rem 6rem;
  }
  .form .form-contact {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  .form .form-contact .wpcf7 {
    width: 54rem;
    display: flex;
    margin-right: 3rem;
  }
  .form .form-contact form {
    flex: 1;
    max-width: 100%;
  }
  .form .form-contact .form-name,
  .form .form-contact .form-adress {
    display: flex;
    justify-content: flex-start;
  }
  .form .form-contact .form-name label,
  .form .form-contact .form-adress label {
    margin-right: 2rem;
  }
  .form .form-contact textarea {
    width: 47.8rem;
  }
  .form .form-contact .map-container {
    flex: 1;
    max-width: 50%;
    padding-left: 2rem;
  }
  .form .form-contact .map-container iframe {
    width: 100%;
    height: 100%;
  }
  .portfolio {
    background-color: #18181d;
    padding-bottom: 2rem;
  }
  .portfolio .container_desk {
    display: block;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  .portfolio .container_desk .gallery {
    position: relative;
    height: 560px;
  }
  .portfolio .container_desk .gallery .items {
    padding: 0 15px;
    margin-bottom: 30px;
    overflow: hidden;
    width: 50%;
  }
  .portfolio .container_desk .gallery .items.width2 {
    width: 25%;
  }
  .portfolio .container_desk .gallery .items .item-img {
    overflow: hidden;
  }
  .portfolio .container_desk .gallery .items .item-img:hover img {
    transform: scale(1.1);
  }
  .portfolio .container_desk .gallery .items .item-img img {
    transition: all 0.4s;
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
  }
  .portfolio .container_mobile {
    display: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  header .img-toggle {
    top: 2rem;
  }
}
@media screen and (max-width: 320px) {
  header .navbar .container {
    top: 1.5rem;
  }
  header .navbar .container .img-logo {
    width: 12rem;
  }
  header .navbar .container .img-toggle {
    bottom: 3.1rem;
  }
}
@media screen and (max-width: 375px) {
  .hero .hero-presentation div {
    margin-top: 3.3rem;
  }
}
@media only screen and (min-width: 445px) and (max-width: 560px) {
  .hero .hero-presentation div {
    margin-top: 3rem;
  }
}
@media only screen and (min-width: 561px) and (max-width: 650px) {
  .hero .hero-presentation div {
    margin-top: 2.8rem;
  }
}
@media only screen and (min-width: 651px) and (max-width: 760px) {
  .hero .hero-presentation div {
    margin-top: 2.6rem;
  }
}
@media only screen and (min-width: 761px) and (max-width: 930px) {
  .hero .hero-presentation div {
    margin-top: 2.3rem;
  }
}
@media only screen and (min-width: 930px) and (max-width: 1023px) {
  .hero .hero-presentation div {
    margin-top: 1.9rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1100px) {
  .hero .hero-presentation div {
    margin-top: 4.9rem;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1400px) {
  .hero .hero-presentation div {
    margin-top: 4.5rem;
  }
}
@media only screen and (min-width: 1401px) and (max-width: 1650px) {
  .hero .hero-presentation div {
    margin-top: 3.6rem;
  }
}
@media screen and (min-width: 1751px) {
  .hero .hero-presentation div {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  header .navbar {
    height: 6.5rem;
    padding: 0.5rem 1rem;
  }
  header .navbar .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 6rem;
    position: fixed;
    top: 0;
    background: #ffffff;
    width: 100%;
    z-index: 2;
  }
  header .navbar .container .img-logo {
    width: 14rem;
    position: relative;
    top: 0.5rem;
  }
  header .img-toggle {
    display: none;
  }
  header .navbar-content {
    display: flex;
    font-family: "Barlow", "sans-serif";
    color: #b7b095;
    font-weight: 500;
    position: static;
    align-items: end;
  }
  header .navbar-content .navbar-nav {
    display: flex;
  }
  header .navbar-content .navbar-nav .nav-item {
    margin: 0 3rem;
    position: relative;
    display: flex;
    height: 6rem;
    align-items: center;
    top: 0.5rem;
  }
  header .navbar-content .navbar-nav .nav-item .nav-link.mail {
    display: none;
  }
  header .navbar-content .navbar-nav .nav-item .nav-link.phone {
    display: none;
  }
  header .navbar-content .navbar-nav .nav-item .sub-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 96px;
    border-top: 2.5px solid #b7b095;
  }
  header .navbar-content .navbar-nav .nav-item .sub-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    left: 0;
    top: 163%;
    width: 11rem;
    text-align: left;
    z-index: 1;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
  }
  header .navbar-content .navbar-nav .nav-item .sub-menu ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 11rem;
  }
  header .navbar-content .navbar-nav .nav-item .sub-menu ul li a:hover {
    background-color: #b7b095;
    color: #ffffff;
  }
  header .navbar-content .navbar-nav .nav-item:hover .sub-menu {
    display: block;
    left: -1.5rem;
    width: 11rem;
  }
  header .navbar-content .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: #777;
    display: inline-block;
    transition: color 0.5s;
    font-size: 18px;
  }
  header .navbar-content .navbar-nav .nav-item .nav-link:hover {
    color: #b7b095;
  }
  header .navbar-content .navbar-nav .nav-item .nav-link::before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
  }
  header .navbar-content .navbar-nav .nav-item .nav-link i {
    font-size: 15px;
    display: inline-block;
  }
  header .navbar-content .navbar-nav .nav-item .fa-angle-down::before {
    content: "\f107";
  }
  header .navbar-content .navbar-nav .nav-item .nav-link.mail::before {
    content: "\f0e0";
  }
  header .navbar-content .navbar-nav .nav-item .nav-link.phone::before {
    content: "\f095";
  }
  .hero {
    padding: 4rem 0rem 7rem;
  }
  .hero .hero-presentation h1 {
    font-size: 60px;
  }
  .hero .hero-presentation h2 {
    font-size: 34px;
    margin: 2.5rem;
  }
  .hero .hero-presentation h3 {
    font-size: 18px;
  }
  .hero .hero-presentation div {
    padding: 0;
    justify-content: center;
    flex-direction: row;
  }
  .hero .hero-presentation div .hero-btn {
    margin: 1rem;
  }
  .hero .hero-presentation .shape-bottom {
    position: absolute;
    width: 102%;
  }
  .hero .hero-presentation .shape-bottom img {
    display: block;
    width: calc(100% + 1.3px);
    position: relative;
    transform: rotate(180deg);
  }
  .boxes {
    display: flex;
    justify-content: center;
  }
  .events-carousel {
    padding: 4rem 1.5rem;
  }
  .events-carousel .swiper-wrapper {
    justify-content: center;
  }
  footer .container {
    padding: 0 19rem;
  }
  footer .container .row-social .logo img {
    width: 15rem;
  }
  footer .container .row-social .social a img {
    top: 1.3rem;
  }
  footer .container .row-social .social a img.facebook {
    left: 0.3rem;
  }
  footer .container .row-social .social a img.tripadvisor {
    left: 4rem;
  }
  /*Page boissons*/
  /* ====================== [ Start tabs & list ] ====================== */
  .plats-container {
    position: relative;
  }
  .plats-container .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .plats-container .row .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .plats-container .row .offset-lg-1 .tab-icons {
    display: flex;
    margin-bottom: 50px;
  }
  .plats-container .row .offset-lg-1 .tab-icons li {
    width: 100%;
    color: #fff;
    margin-bottom: 20px;
    font-size: 24px;
    letter-spacing: 2px;
  }
  .plats-container .row .offset-lg-1 .tab-icons li a {
    position: relative;
    font-family: "Cormorant", serif;
  }
  .plats-container .row .offset-lg-1 .tab-icons li a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    bottom: -31px;
    left: calc(50% - 10px);
    opacity: 0;
    display: none;
  }
  .plats-container .row .offset-lg-1 .tab-icons li a span {
    font-size: 14px;
    color: #b7b095;
    margin-right: 5px;
  }
  .plats-container .row .offset-lg-1 .tab-icons li.ui-tabs-active {
    color: #b7b095;
  }
  .plats-container .row .offset-lg-1 .tab-icons li.ui-tabs-active a:after {
    opacity: 1;
  }
  .plats-container .row .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .plats-container .row .col-12 .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .plats-container .row .col-12 .row .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .plats-container .row .col-12 .row .col-lg-6 .box-bord {
    padding: 80px 40px;
    position: relative;
  }
  .plats-container .row .col-12 .row .col-lg-6 .box-bord:before {
    top: 5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    content: "";
    position: absolute;
    border: 1px solid #b7b095;
    z-index: 3;
  }
  .plats-container .row .col-12 .row .col-lg-6 .box-bord .list.mb-40 {
    margin-bottom: 40px !important;
  }
  .plats-container .row .col-12 .row .col-lg-6 .box-bord .list .box .combo {
    display: flex;
    padding-right: 30px;
  }
  .plats-container .row .col-12 .row .col-lg-6 .box-bord .list .box .combo .text {
    padding-left: 30px;
    width: 100%;
  }
  .plats-container .row .col-12 .row .col-lg-6 .box-bord .list .box .combo .text .flex h6,
  .plats-container .row .col-12 .row .col-lg-6 .box-bord .list .box .combo .text .flex .dot-line,
  .plats-container .row .col-12 .row .col-lg-6 .box-bord .list .box .combo .text .flex .price {
    display: table-cell;
  }
  .plats-container .row .col-12 .row .col-lg-6 .box-bord .list .box .combo .text .flex h6 {
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    padding-right: 20px;
  }
  .plats-container .row .col-12 .row .col-lg-6 .box-bord .list .box .combo .text .flex .price {
    padding-left: 20px;
    white-space: nowrap;
  }
  .plats-container .row .col-12 .row .col-lg-6 .box-bord .list .box .combo .text .flex .price h4 {
    font-size: 22px;
    color: #b7b095;
  }
  .plats-container .row .col-12 .row .col-lg-6 .box-bord .list .box .combo .text .flex .price span {
    font-size: 20px;
    color: #b7b095;
  }
  .plats-container .row .col-12 .row .col-lg-6 .box-bord .list .box .combo .text .flex .dot-line {
    width: 100%;
  }
  .plats-container .row .col-12 .row .col-lg-6 .box-bord .list .box .combo .text .flex .dot-line .dots {
    height: 4px;
    width: 100%;
    border-bottom: 1px dashed #b7b095;
  }
  .plats-container .row .col-12 .row .col-lg-6 .box-bord .list .box .combo .text p {
    font-size: 13px;
    margin-top: 10px;
  }
  .plats-container .row .col-12.menu-book .tab-icons {
    display: flex;
    margin-bottom: 50px;
  }
  .plats-container .row .col-12.menu-book .box-bord {
    padding: 80px 40px;
    position: relative;
  }
  .plats-container .row .col-12.menu-book .box-bord:after, .plats-container .row .col-12.menu-book .box-bord:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #b7b095;
    z-index: 3;
  }
  .plats-container .row .col-12.menu-book .box-bord:before {
    top: 5px;
    left: -5px;
    right: -5px;
    bottom: 5px;
  }
  .plats-container .row .col-12.menu-book .box-bord .lins {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-100px);
  }
  .plats-container .row .col-12.menu-book .box-bord .lins span {
    width: 70px;
    height: 35px;
    border-top-left-radius: 260px;
    border-top-right-radius: 260px;
    border: 1px solid #b7b095;
    border-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  .plats-container .row .col-12.menu-book .box-bord .lins span:nth-of-type(2) {
    top: 50px;
  }
  .plats-container .row .col-12.menu-book .box-bord .lins span:nth-of-type(3) {
    top: 100px;
  }
  .plats-container .row .col-12.menu-book .box-bord .lins span:after, .plats-container .row .col-12.menu-book .box-bord .lins span:before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #b7b095;
    position: absolute;
    bottom: -5px;
    right: -5px;
  }
  .plats-container .row .col-12.menu-book .box-bord .lins span:before {
    right: auto;
    left: -5px;
  }
  /* ====================== [ End tabs & list ] ====================== */
}
@media screen and (min-width: 1378px) {
  header .navbar-content .navbar-nav .nav-item .nav-link.mail {
    display: block;
  }
  header .navbar-content .navbar-nav .nav-item .nav-link.phone {
    display: block;
  }
  .services .first-row .title-services {
    width: 60rem;
  }
  .services .second-row {
    width: 29rem;
  }
}
@media screen and (max-width: 1023px) {
  header .navbar-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #777;
    position: absolute;
    top: 7rem;
    left: 0;
    animation: slideDown 0.3s ease-in-out;
  }
}/*# sourceMappingURL=style.css.map */