@import "reset";
@import "color";
@import "font";

* {
    box-sizing: border-box;
}

.btn {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    z-index: 2;
}

header {

    .navbar {
        position: fixed;
        top: -1rem;
        height: 5rem;
        width: 100%;
        z-index: 2;
        border-bottom: 2px solid $first-color;
        padding: 0.5rem;

    }

    .img-logo {
        width: 12rem;
        position: relative;
        bottom: 3.5rem;
        right: 1rem;
    }

    .navbar-content {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: red;
        position: absolute;
        top: 7rem;
        left: 0;
        animation: slideDown 0.3s ease-in-out;

    }

    .nav-item {
        margin: 0 2rem;
        position: relative;
        display: flex;
        height: 2rem;
        align-items: center;

        .nav-link.mail {
            display: none;
        }

        .nav-link.phone {
            display: none;
        }

        .sub-menu {
            display: none;
            position: absolute;
            background-color: #ffffff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            top: 96px;
            border-top: 2.5px solid $first-color;

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                position: relative;
                left: 0;
                top: 163%;
                width: 240px;
                text-align: left;
                z-index: 1;
                -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
                transition: .5s;

                li {

                    a {
                        display: block;
                        padding: 10px 20px;
                        text-decoration: none;
                        color: #333;
                        font-weight: 500;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.10);

                        &:hover {
                            background-color: $first-color;
                            color: red;
                        }
                    }
                }
            }
        }

        .nav-link {
            text-decoration: none;
            color: $second-color;
            display: inline-block;
            transition: color 0.5s;
        }

    }

    .navbar-content.show {
        display: flex;
        align-items: end;
        background-color: red;
        z-index: -1;
        width: 10rem;
        height: 13rem;
        padding-top: 2rem;
        font-family: $main-font;
    }

    .img-toggle {
        position: relative;
        width: 3rem;
        float: right;
        padding-right: 1rem;
        top: 1.5rem;
    }

    .menu-icon {
        display: block;
    }

    .close-icon {
        display: none;
    }

    .navbar-content.show~.toggle .menu-icon {
        display: none;
    }

    .navbar-content.show~.toggle .close-icon {
        display: block;
    }

    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-10%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}





