@import "reset";
@import "color";
@import "font";

* {
    box-sizing: border-box;
}

.btn {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    z-index: 2;
}

header {

    .navbar {
        position: fixed;
        top: 0;
        height: 7rem;
        width: 100%;
        z-index: 2;
        border-bottom: 2px solid $first-color;
        padding: 0.5rem;

    }

    .img-logo {
        width: 9rem;
    }

    .navbar-content {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: red;
        position: absolute;
        top: 7rem;
        left: 0;
        animation: slideDown 0.3s ease-in-out;

    }

    .nav-item {
        margin: 0 2rem;
        position: relative;
        display: flex;
        height: 2rem;
        align-items: center;

        .nav-link.mail {
            display: none;
        }

        .nav-link.phone {
            display: none;
        }

        .sub-menu {
            display: none;
            position: absolute;
            background-color: #ffffff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            top: 96px;
            border-top: 2.5px solid $first-color;

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                position: relative;
                left: 0;
                top: 163%;
                width: 240px;
                text-align: left;
                z-index: 1;
                -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
                transition: .5s;

                li {

                    a {
                        display: block;
                        padding: 10px 20px;
                        text-decoration: none;
                        color: #333;
                        font-weight: 500;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.10);

                        &:hover {
                            background-color: $first-color;
                            color: red;
                        }
                    }
                }
            }
        }

        .nav-link {
            text-decoration: none;
            color: $second-color;
            display: inline-block;
            transition: color 0.5s;
        }

    }

    .navbar-content.show {
        display: flex;
        align-items: end;
        background-color: $third-color;
        z-index: -1;
        width: 10rem;
        height: 13rem;
        padding-top: 2rem;
        font-family: $main-font;
    }

    .img-toggle {
        position: relative;
        width: 3rem;
        float: right;
        padding-right: 1rem;
        top: 2rem;
    }

    .menu-icon {
        display: block;
    }

    .close-icon {
        display: none;
    }

    .navbar-content.show~.toggle .menu-icon {
        display: none;
    }

    .navbar-content.show~.toggle .close-icon {
        display: block;
    }

    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-10%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}














body {
    margin: 0;
    padding: 0;
}
//.navbar {
//    background-color: #fff; /* couleur de fond de la barre de navigation */
//    padding: 10px 0; /* espace intérieur de la barre de navigation */
//}

.container {
    display: flex;
    justify-content: space-between; /* alignement des éléments sur les côtés opposés */
    align-items: center; /* alignement vertical des éléments au centre */
}

.navbar-content {
    display: flex;
    align-items: center; /* alignement vertical des éléments */
}

.navbar-nav {
    list-style-type: none; /* suppression des puces de liste */
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Barlow', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

.nav-item {
    margin: 1rem;
    padding: 1rem; /* espacement entre les éléments de la liste */
    display: inline-block;
    letter-spacing: 1px;
}

.nav-link {
    color: #000; /* Couleur du texte */
    background-image: linear-gradient(
            to right,
            #fff,
            #fff 50%,
            #fff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    transition: all 0.3s ease-in-out;
    text-decoration: none;

}

.nav-link:before {
    content: '';
    background: #b7b095; /* Couleur de la barre de surbrillance */
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    background-position: 0;
}

.nav-link:hover::before {
    width: 100%;
}
.nav-link.active::before {
    width: 100%;
}

.background-container {
    position: relative;
    width: 100%;
    height: 400px; /* Ajustez la hauteur selon vos besoins */
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
}

.background-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Réglage de la couleur de fond (gris) et de l'opacité */
    z-index: 1; /* Mettre le filtre en arrière-plan */
}

.background-text {
    position: relative;
    z-index: 2; /* Mettre le texte au-dessus du fond et du filtre */
    color: white; /* Couleur du texte */
    text-align: center; /* Alignement du texte au centre */
    padding: 20px; /* Ajouter un peu d'espace autour du texte */
}

h1 {

    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 60px;
    color: #b7b095;
    margin: 2rem;
}

h3 {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 4px;
    margin: 2rem 0 3rem;

}

.background-text_small {
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 15px;
    font-weight: 300;
    margin: 2rem;
}

.btn-header {
    margin: 4rem;
    display: flex;
    justify-content: center;
}

.border-btn {
    padding: 1rem 0.3rem;
    border: 2px solid #b7b095;
}

.border-menu {
    margin: 0 0.5rem;
}

.button-header_item {
    background-color: #b7b095;
    color: #FFFFFF;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    text-decoration: none;
}

.btn-menu {
    padding: 0.5rem;
}

.btn-menu:hover {
    background-color: #b7b09587;
}

.title-intro {
    color: #b7b095;
    font-family: 'Barlow', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 1rem;
}

.intro {
    margin: 4rem 10rem;
    display: flex;
    align-items: center;
}

.title-intro_middle, .title-menu_middle {
    font-family: "Cormorant", serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 1rem;
}

p {
    font-family: 'Barlow', sans-serif;
    color: #777;
    line-height: 2;
}

.intro-img-container {
    display: flex;
    position: relative;
    left: 5rem;
}

.flex {
    flex: 1;
}

.btn-contact {
    width: 16rem;
    text-align: center;
    margin-top: 2rem;
}

.btn-contact_item {
    padding: 0.7rem 4.5rem;
}

.btn-contact_item:hover {
    /*background-color: #706f67;*/
    background-color: #807e74;
}

.img-border {
    border-radius: 30px;
    border: 15px solid #FFFFFF;
}

.intro-img {
    display: flex;
}

.img2 {
    width: 19rem;
    position: relative;
    bottom: 1rem;
}

.img3 {
    position: relative;
    right: 5rem;
    width: 16rem;
    top: 3rem;
}

h6 {
    color: #b7b095;
    font-family: 'Barlow', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 300;
    text-align: center;
    margin: 2rem;
}

.services {
    position: relative;
    width: 100%;
    height: 400px; /* Ajustez la hauteur selon vos besoins */
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
}

.services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Réglage de la couleur de fond (gris) et de l'opacité */
    z-index: 1; /* Mettre le filtre en arrière-plan */
}

.services-text {
    position: relative;
    z-index: 2; /* Mettre le texte au-dessus du fond et du filtre */
    color: white; /* Couleur du texte */
    text-align: center; /* Alignement du texte au centre */
    padding: 20px; /* Ajouter un peu d'espace autour du texte */
}



.customers-review {
    font-family: "Cormorant", serif;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 2px;
}

.menu-container {
    position: relative;
    width: 100%;
    height: 500px; /* Ajustez la hauteur selon vos besoins */
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
}

.menu-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Réglage de la couleur de fond (gris) et de l'opacité */
    z-index: 1; /* Mettre le filtre en arrière-plan */
}

.menu-container-text {
    position: relative;
    z-index: 2; /* Mettre le texte au-dessus du fond et du filtre */
    color: white; /* Couleur du texte */
    text-align: center; /* Alignement du texte au centre */
    padding: 20px; /* Ajouter un peu d'espace autour du texte */
}

.container-menu-img{
    display: flex;
    justify-content: space-evenly;
}
.container-menu-img a {
    text-decoration: none;
    color: #b7b095;
}

.menu-img {
    width: 30rem;
    filter: brightness(0.2);
    opacity: calc(0.9);
    border-radius: 10px;
}



/*.menu-img:hover {
    filter: brightness(0.9);
    transition: all 0.6s;
}
*/

.subtitle-menu {
    position: relative ;
    bottom: 14rem;
    text-decoration: none;
}

/*
.subtitle-menu:hover {
    color: #000000;
}
*/

.container-dish {
    position:relative;
}

.container-menu:hover .menu-img {
filter: brightness(0.7);
transition: all 0.6s;
}

.container-menu:hover .subtitle-menu {
    color: white;
    transition: color 0.8s;
}

.presentation {
    display: flex;
    margin: 4rem 10rem;
    align-items: center;
}

.team-img {
    width: 20rem;
    border-radius: 30px;
    border: 15px solid #FFFFFF;
}

.gallery {
    background-color: #18181d;
}

.container-gallery {
    display: flex;
    justify-content: center;
}

.part-team {
    width: 50%;
    display: flex;
    justify-content: center;
}


.text {
    flex-direction: column;
    margin-top: 2rem;
}

span {
    font-weight: bold;
}

.text-about-us {
    margin-right: 10rem;;
}

.picto-access {
    position: relative;
    bottom: 5rem;
}



/*.nav-link {*/
/*    text-decoration: none; !* suppression du soulignement par défaut des liens *!*/
/*    color: #000; !* couleur des liens *!*/
/*    background-image: linear-gradient(*/
/*            to right,*/
/*            #000000,*/
/*            #000000 50%,*/
/*            #000000 50%*/
/*    );*/
/*    background-size: 200% 100%;*/
/*    background-position: -100%;*/
/*    display: inline-block;*/
/*    padding: 5px 0;*/
/*    position: relative;*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*    transition: all 0.3s ease-in-out;*/

/*}*/

/*.nav-link:hover {*/
/*    !*text-decoration: underline; !* Ajoute un soulignement au survol *!*!*/
/*    background-position: 0;*/
/*}*/


/* Burger Menu */
.menu-toggle {
    display: none; /* Cacher le bouton du menu burger par défaut */
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: transform 0.4s;
}

.menu-toggle.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.open span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Pour les versions mobiles */
@media (max-width: 1024px) {
    .menu-toggle {
        display: block; /* Afficher le bouton du menu burger pour les versions mobiles */
    }

    #menu {
        display: none; /* Cacher le menu par défaut pour les versions mobiles */
    }

    #menu.open {
        display: block; /* Afficher le menu lorsque le bouton burger est cliqué */
    }

    .logo {
        width: 12rem;
    }
}



