@import "reset";
@import "color";
@import "font";

* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    //résoud le pb de bande blanche à droite en version mobile
}

.btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    z-index: 4;
}

/* ====================== [ Start progress-wrap ] ====================== */
.progress-wrap {
    position: fixed;
    bottom: 3px;
    right: 3px;
    height: 44px;
    width: 44px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 400ms linear;

    &.active-progress {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    &::after {
        position: absolute;
        font-family: "Font Awesome 5 Free";
        content: "";
        text-align: center;
        line-height: 44px;
        font-size: 13px;
        font-weight: 900;
        color: $first-color;
        left: 0;
        top: 0;
        height: 44px;
        width: 44px;
        cursor: pointer;
        display: block;
        z-index: 1;
        transition: all 400ms linear;
    }

    svg path {
        fill: none;
    }

    svg.progress-circle path {
        stroke: #b7b095;
        stroke-width: 4;
        box-sizing: border-box;
        transition: all 400ms linear;
    }
}



header {

    .navbar {
        position: fixed;
        top: 2px;
        height: 7rem;
        width: 100%;
        z-index: 5;
        background: $second-color ;
        border-bottom: 2px solid $first-color;
        padding: 0.5rem;

        .container {
            position: relative;
            top: 1.2rem;

            .img-logo {
                width: 15em;
                padding-left: 1rem;
            }
            
        }

    }



    .navbar-content {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: $second-color;
        position: absolute;
        top: 7rem;
        left: 0;
        animation: slideDown 0.3s ease-in-out;

    }

    .nav-item {
        margin: 0 2rem;
        position: relative;
        display: flex;
        height: 2rem;
        align-items: center;

        .nav-link.mail {
            display: none;
        }

        .nav-link.phone {
            display: none;
        }

        .sub-menu {
            display: none;
            position: absolute;
            background-color: #ffffff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            top: 96px;
            border-top: 2.5px solid $first-color;

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                position: relative;
                left: 0;
                top: 163%;
                width: 160px;
                text-align: left;
                z-index: 1;
                -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
                transition: .5s;

                li {

                    a {
                        display: block;
                        padding: 10px 20px;
                        text-decoration: none;
                        color: #333;
                        font-weight: 500;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.10);

                        &:hover {
                            background-color: $first-color;
                            color: $third-color;
                        }
                    }
                }
            }
        }

        &:hover .sub-menu {
            display: block;
            left: -37px;
            z-index: 20;
        }

        .nav-link {
            text-decoration: none;
            color: $first-color;
            display: inline-block;
            transition: color 0.5s;

            &:hover {
                color: $second-color;
            }

            &::before {
                font-family: "Font Awesome 5 Free";
                display: inline-block;
                padding-right: 3px;
                vertical-align: middle;
                font-weight: 900;
            }

            i {
                font-size: 15px;
                display: inline-block;
            }
        }

        .fa-angle-down::before {
            content: "\f107";
        }

        .nav-link.mail::before {
            content: '\f0e0';
        }

        .nav-link.phone::before {
            content: '\f095';
        }
    }

    .navbar-content.show {
        display: flex;
        align-items: end;
        background-color: $third-color;
        z-index: -1;
        width: 10rem;
        height: 13rem;
        padding-top: 2rem;
        font-family: $main-font;
        border: 0.5px solid $first-color;
        top: 84px;
        left: -8px;
    }

    .img-toggle {
        position: relative;
        width: 4rem;
        float: right;
        padding-right: 1rem;
        bottom: 3.4rem;
    }

    .menu-icon {
        display: block;
        //right: 3rem;
    }

    .close-icon {
        display: none;

    }

    .navbar-content.show~.toggle .menu-icon {
        display: none;
    }

    .navbar-content.show~.toggle .close-icon {
        display: block;
    }

    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-10%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}


.hero {
    margin-top: 6rem;
    position: relative;
    width: 100%;
    background-image: url('../images/fond.jpg');
    background-size: cover;
    background-position: center;
    padding: 4rem 0;
    height: auto;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 58%);
        z-index: 1;
    }

    .hero-presentation {
        text-align: center;
        position: relative;
        z-index: 2;

        h1 {
            font-family: "Pinyon Script", cursive;
            font-weight: 400;
            font-size: 42px;
            color: $first-color;
        }

        h2 {
            font-family: $second-font;
            font-size: 24px;
            letter-spacing: 5px;
            margin: 1.5rem;
            color: $second-color;
            font-weight: 500;
        }

        h3 {
            font-family: $main-font;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 300;
            margin: 0 1rem 1rem;
            color: $second-color;
            letter-spacing: 2px;
            line-height: 20px;
        }

        div {
            margin-top: 3.2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            //padding: 0 3rem;

            a {
                background: transparent;
                padding: 1rem 2rem;
                width: 220px; // Fixe la largeur des boutons
                position: relative;
                color: $second-color;
                -webkit-transition: all 0.4s;
                transition: all 0.4s;
                z-index: 3;
                text-decoration: none;
                font-family: $main-font;
                line-height: 1.5;
                font-weight: 400;
                margin-bottom: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    position: relative;
                    z-index: 2;
                }

                i {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 1px solid $first-color;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 4px;
                        left: 4px;
                        right: 4px;
                        bottom: 4px;
                        background-color: $first-color;
                    }
                }
            }
        }

        .shape-bottom {
            position: absolute;
            //width: 136%;
            //right: -4rem;
            max-width: 100%;
            overflow: hidden;

            img {
                display: block;
                width: calc(100% + 1.3px);
                position: relative;
                //left: 50%;
                transform: rotate(180deg);
                max-width: 115%;

            }
        }
    }
}

.intro {
    margin: 2rem 0.5rem;
    display: flex;
    align-items: center;
    height: auto;
    flex-direction: column;

    .intro-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
        padding: 1rem;

        h2 {
            color: $first-color;
            font-family: $main-font;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 6px;
            margin-bottom: 1rem;
            line-height: 20px;
        }

        h3 {
            font-family: $second-font;
            font-weight: 700;
            font-size: 30px;
            line-height: 1.2;
            margin-bottom: 1rem;
        }

        p {
            font-family: $main-font;
            color: $third-color;
            line-height: 2;
            font-size: 17px;

            span {
                font-weight: 700;
            }
        }

        div {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            text-align: center;

            a {
                background: transparent;
                padding: 1rem 2rem;
                width: 220px; // Fixe la largeur des boutons
                position: relative;
                color: $second-color;
                -webkit-transition: all 0.4s;
                transition: all 0.4s;
                z-index: 3;
                text-decoration: none;
                font-family: $main-font;
                line-height: 1.5;
                font-weight: 400;
                margin-bottom: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    position: relative;
                    z-index: 2;
                }

                i {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 1px solid $first-color;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 4px;
                        left: 4px;
                        right: 4px;
                        bottom: 4px;
                        background-color: $first-color;
                    }
                }
            }
        }
    }

    .intro-img-container {
        display: flex;
        //position: relative;
        //left: 5rem;

        &.flex {
            flex: 1;
        }

        .intro-img {
            display: flex;

            img {
                width: 100%;
                height: auto;
            }

            .img-border {
                border-radius: 30px;
                border: 15px solid $second-color;


                &.img1 {
                    border-right: 0;
                    border-bottom: 0;
                    width: 86%;
                }

                //
                &.img2 {
                    width: 120%;
                    //position: relative;
                    //bottom: 1rem;
                    border-right: 0;
                }

                //
                &.img3 {
                    position: relative;
                    //right: 5rem;
                    //width: 16rem;
                    top: 3rem;
                    width: 145rem;
                    right: 2rem;
                }
            }


        }

    }
}

.menu-container {
    position: relative;
    width: 100%;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 2rem 0.5rem;
    height: auto;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 1;
    }

    .menu-container-text {
        //display: flex;
        //flex-direction: column;
        //align-items: center;
        position: relative;
        z-index: 2;

        h2 {
            color: $first-color;
            font-family: $main-font;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 6px;
            margin-bottom: 2rem;
        }

        .container-menu {

            a {
                text-decoration: none;
                color: $first-color;
                text-align: center;

                .menu-img {
                    width: 16rem;
                    filter: brightness(0.7);
                    opacity: calc(0.9);
                    border-radius: 10px;
                }

                .subtitle-menu {
                    position: relative;
                    bottom: 14rem;
                    font-family: $second-font;
                    font-size: 45px;
                    letter-spacing: 5px;
                    margin: 2rem 0 3rem;
                }
            }
        }
    }
}

.boxes {
    margin-top: 2rem;
    position: relative;
    width: 100%;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    padding: 2rem 2rem;
    height: auto;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 1;
    }

    .container {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        h2 {
            color: $first-color;
            font-family: $main-font;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 6px;
            margin-bottom: 1.5rem;
            text-align: center;
            z-index: 3;
        }

        .grid-bx {
            z-index: 3;

            .box {
                position: relative;
                text-align: center;
                height: 16rem; // Taille fixe pour toutes les cards
                margin-bottom: 2rem;
                overflow: hidden; // S'assure que l'image ne dépasse pas la box
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    opacity: 0.8;

                    .black {
                        color: #000000;
                        font-weight: 600;
                    }

                    .white {
                        color: $first-color;
                        font-weight: 600;
                    }
                }

                .img-box {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover; // Ajuste l'image pour qu'elle remplisse entièrement la box
                        transition: all 0.6s;
                        opacity: 0.8;
                        border-radius: 11px;
                    }
                }

                .box-title {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    margin: auto;
                    left: 0;
                    right: 0;
                    transition: all 0.6s;
                    text-transform: uppercase;
                    font-size: 38px;
                    font-family: $second-font;
                    color: #ffffff;
                }

                p {
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;

                    a {
                        text-decoration: none;
                        transition: all 0.6s;
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        font-size: 0;
                    }
                }
            }
        }
    }
}


.team {
    margin: 2rem 0.5rem 0;
    display: flex;
    align-items: center;
    height: auto;
    flex-direction: column;
    scroll-margin-top: 80px;

    .container-team {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
        padding: 1rem 1rem 0;

        h2 {
            color: $first-color;
            font-family: $main-font;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 6px;
            margin-bottom: 1rem;
        }

        h3 {
            font-family: "Cormorant", "serif";
            font-weight: 700;
            font-size: 30px;
            line-height: 1.2;
            margin-bottom: 1rem;

            span {
                text-transform: capitalize;
            }
        }

        p {
            font-family: "Barlow", "sans-serif";
            color: #777;
            line-height: 2;
            font-size: 17px;
        }

        .part-team {
            &.img {
                display: flex;
                justify-content: center;
            }
        }
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
}

.portfolio {
    filter: brightness(0.8);
    background-color: $fourth-color;

        h2 {
            color: $first-color;
            font-family: $main-font;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 6px;
            padding: 2rem 0;
            text-align: center;
        }

        .container_desk {
            display: none;
        }

        .container_mobile {
            div {
                padding: 1.5rem 3rem ;

                img {
                    filter: brightness(0.9) contrast(1.1) saturate(1.2);
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                    transition: transform 0.3s ease, box-shadow 0.3s ease;;
                }
            }
        }
    
}

.customers {
    margin: 2rem 0.5rem;
    display: flex;
    align-items: center;
    height: auto;
    flex-direction: column;

    h2 {
        color: $first-color;
        font-family: $main-font;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 6px;
        margin-bottom: 1rem;
    }

    h3 {
        font-family: "Cormorant", "serif";
        font-weight: 700;
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 1rem;
    }

    img {
        width: 10rem;
    }

    div {
        font-family: $main-font;
    }

    .ti-widget.ti-goog .ti-header-write-btn-container .ti-header-write-btn {
        background-color: $first-color;
        border-color: $first-color
    }

    .ti-widget.ti-goog .ti-col-1 .ti-reviews-container,
    .ti-widget.ti-goog .ti-col-1 .ti-footer {
        margin-bottom: 0;
    }
}

.events-carousel {
    padding: 2rem 1.5rem;
    background-color: $fourth-color;
    text-align: center;
    height: auto;
    font-family: $main-font;
    scroll-margin-top: 80px;

    h2 {
        color: $first-color;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 6px;
        margin-bottom: 1rem;
    }

    .swiper-container {
        width: 100%;
        overflow: hidden; // Assure que le contenu débordant est caché
        position: relative; // Nécessaire pour positionner les flèches

        .swiper-wrapper {
            display: flex;
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 0 auto;
            //width: 100%; /* Chaque slide prend toute la largeur de l'écran sur mobile */
           // padding: 1rem;
            box-sizing: border-box; // Assure que padding ne modifie pas la largeur
            height: 20rem;

            .event-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 18rem; /* Largeur fixe pour toutes les cartes */
                height: 18rem; /* Hauteur fixe pour toutes les cartes */
                background: white;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                text-decoration: none;
                overflow: hidden; // Pour cacher tout débordement
                margin: 0;
                padding: 1rem;

                img {
                    width: 100%; // Assure que l'image s'adapte à la largeur du conteneur
                    height: 100%; // Assure que l'image s'adapte à la hauteur du conteneur
                    object-fit: cover; // Ajuste l'image pour qu'elle remplisse entièrement la carte sans déformer le ratio
                    border-radius: 8px;
                }

                .event-date {
                    margin-top: 10px;
                    font-size: 16px;
                    color: #555;
                }

                .event-name {
                    margin-top: 5px;
                    font-size: 18px;
                    font-weight: bold;
                    color: $first-color;
                }
            }
        }

        .swiper-pagination {
            margin: -9px 0;
        }

        .swiper-button-next,
        .swiper-button-prev {
            color: $second-color; // Couleur actuelle, change-la si nécessaire
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            width: 30px; // Augmente la taille des boutons
            height: 30px; // Augmente la taille des boutons
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.6); // Ajoute un fond semi-transparent
            transition: background-color 0.3s; // Transition pour le changement de couleur
        
            // Change la couleur de fond au survol
            &:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }
        }

        .swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 16px; // Ajuste cette valeur selon la taille souhaitée
    width: auto; // Assure que la largeur s'adapte bien
    height: auto; // Assure que la hauteur s'adapte bien
}

        
        .swiper-button-next {
            right: 30px; // Ajuste la position à droite, vers le centre
        }
        
        .swiper-button-prev {
            left: 30px; // Ajuste la position à gauche, vers le centre
        }
        

        .swiper-pagination-bullet {
            background: $second-color;
        }

        .swiper-pagination-bullet-active {
            background: #b7b095; // Couleur des boutons de pagination actifs
            opacity: 1; // Opacité des boutons de pagination actifs
        }
    }
}

@media (min-width: 640px) {
    .swiper-slide {
        width: calc(50% - 10px) !important; // Affichage de deux slides avec une marge sur les écrans moyens
    }
}

@media (min-width: 768px) {
    .swiper-slide {
        width: calc(45% - 10px) !important; // Trois slides visibles avec une marge sur les écrans larges
    }
}

@media only screen and (min-width : 769px) and (max-width : 1024px) {
    .swiper-slide {
        width: calc(36% - 10px) !important; // Quatre slides visibles avec une marge sur les écrans encore plus larges
    }
}


@media (min-width: 1025px) {
        .swiper-slide {
            width: calc(20% - 0px) !important; // Quatre slides visibles avec une marge sur les écrans encore plus larges
        }
}


.form {
    display: flex;
    flex-direction: column; // Sur mobile, tout est en colonne
    padding: 2rem;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    scroll-margin-top: 80px;

    h2 {
        color: $first-color;
        font-family: $main-font;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 6px;
        margin-bottom: 1rem;
    }

    p {
        font-family: "Barlow", "sans-serif";
        color: #777;
        line-height: 2;
        font-size: 17px;

        span {
            font-weight: 600;
            text-decoration: underline;
        }
    }

    // Formulaire pour mobile
    form {
        width: 100%;

        label {
            display: block;
            font-weight: bold;
            color: $first-color;
            margin-bottom: 0.5rem;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea {
            width: 100%;
            padding: 0.8rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 1rem;
            background-color: #fff;
            font-family: $main-font;
            font-size: 1rem;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            transition: border-color 0.3s ease;

            &:focus {
                border-color: #2c6ed5;
                outline: none;
            }
        }

        textarea {
            height: 150px;
            resize: vertical;
        }

        input[type="submit"] {
            background-color: $first-color;
            color: white;
            padding: 0.5rem 1.2rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            text-transform: uppercase;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $third-color;
            }
        }
    }

    // Carte Google Maps pour mobile
    .map-container {
        margin-top: 2rem; // Espace entre le formulaire et la carte sur mobile

        iframe {
            width: 100%;
            height: 300px; // Hauteur ajustée pour mobile
            border: 0;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }
    }

}

footer {
    background-color: $fourth-color;
    font-family: $main-font;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    height: auto;

    .container {
        max-width: 100%;
        padding: 0 1rem;
        margin: auto;

        h3 {
            color: $first-color;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 6px;
            margin-bottom: 1rem;
            margin-top: 2rem;
        }

        .row-social {
            display: flex;
            justify-content: space-evenly;
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
            overflow: hidden;

            .logo {
                img {
                    position: relative;
                    right: 1rem;
                    width: 9.6rem;
                }
            }

            .social {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                position: relative;
                left: 1.2rem;

                a {
                    width: 35px;
                    height: 35px;
                    line-height: 49px;
                    border: 1px solid $first-color;
                    text-align: center;
                    font-size: 12px;

                    img {
                        position: absolute;

                        top: 9px;

                        &.facebook {
                            left: 0.3rem;
                        }

                        &.tripadvisor {
                            left: 4rem;

                        }
                    }
                }
            }
        }

        .row-adress {
            color: $second-color;

            ul {
                font-size: 14px;
            }

            li {
                margin-bottom: 1rem;
            }

            .title {
                display: table-cell;
                white-space: nowrap;
                padding-right: 0.5rem;
            }

            .dots {
                height: 4px;
                width: 100%;
                border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
                position: relative;
                top: -5px;
                display: table-cell;
                white-space: nowrap;
            }

            span {
                white-space: nowrap;
                padding-left: 0.5rem;
                display: table-cell;
            }

            p {
                color: #777;
                font-size: 14px;
                line-height: 20px;
            }

            div.wpforms-container-full input[type=submit],
            div.wpforms-container-full button[type=submit],
            div.wpforms-container-full .wpforms-page-button,
            .wp-core-ui div.wpforms-container-full input[type=submit],
            .wp-core-ui div.wpforms-container-full button[type=submit],
            .wp-core-ui div.wpforms-container-full .wpforms-page-button {
                background-color: #b7b095 !important; // Couleur de fond initiale avec !important
                color: var(--wpforms-button-text-color) !important; // Couleur de texte avec !important
                align-items: center;
                font-size: 15px;

                &:hover,
                &:active {
                    background-color: #777 !important; // Couleur de survol avec !important
                    color: var(--wpforms-button-text-color) !important; // Couleur de texte au survol avec !important
                }
            }

            div.wpforms-container-full input[type=email] {
                background: rgba(255, 255, 255, 0.04);
                border: 1px solid rgba(255, 255, 255, 0.2);

                &::placeholder {
                    color: #ffffff !important; // Couleur du placeholder
                }
            }

            div.wpforms-container-full * {
                display: flex;
                justify-content: center;
            }

            div.wpforms-container-full .wpforms-form .wpforms-submit-container {
                position: relative;
                top: 0.4rem;
            }
        }

        .ftail {

            .container {
                max-width: 540px;
                padding: 0;
                display: flex;
                justify-content: center;

                p {
                    color: #777;
                    line-height: 2;
                    font-size: 13px;

                    a {
                        color: $first-color;
                        text-decoration: none;
                    }
                }

                .legale-notices {

                    ul {
                        display: flex;
                        justify-content: center;

                        a {
                            text-decoration: none;
                            color: $first-color;
                            font-size: 12px;
                            padding-left: 0.2rem;
                        }

                    }
                }
            }
        }
    }
}

/* ====================== [ Page menu ] ====================== */

.plats-container {
    padding-top: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 19rem;
    margin-bottom: -12rem;

    h1 {
        font-family: $main-font;
        color: $first-color;
        font-size: 28px;
    }

    .cards-bx {

        .card {
            position: relative;
            display: block;
            text-decoration: none;
            color: inherit;

            .img-card {
                margin: 2rem;
                overflow: hidden; /* Ensure the zoomed image does not overflow */
                position: relative;

                img {
                    width: 25rem;
                    height: 20rem;
                    transition: transform 0.3s ease; /* Smooth transition for zoom effect */
                    display: block;
                }
            }

            .card-title-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */

                h3 {
                    font-family: $second-font;
                    font-weight: 700;
                    margin: 0;
                    font-size: 1.5em; /* Taille de la police */
                    color: #fff; /* Couleur du texte */
                    text-align: center;
                    padding: 10px;
                    position: relative;
                    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition for zoom effect and color change */

                    &:hover {
                        color: $first-color;
                        transform: scale(1.1); /* Zoom effect */
                    }

                    &.active {
                        color: $first-color;
                        &:after {
                            content: '';
                            position: absolute;
                            bottom: -2px;
                            left: 0;
                            width: 100%;
                            height: 2px;
                            background: $first-color;
                        }
                    }
                }
            }

            &.active .card-title {
                color: $first-color;

                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: $first-color;
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                }
            }

            &:hover .img-card img,
            &:hover .card-title,
            &:hover .card-title-container h3 {
                transform: scale(1.1); /* Zoom effect */
                color: $first-color;
            }
        }
    }

    //#categories-anchor {
    //    display: flex;
    //    flex-direction: column;
    //    align-items: center;
    //    padding: 3rem;
//
    //    h3 {
    //        color: $first-color;
    //        font-size: 30px;
    //        text-decoration: underline;
    //        text-transform: uppercase;
    //        margin-bottom: 2rem;
    //        text-align: center;
    //    }
//
    //}
}

//.category-links {
//    display: flex;
//    justify-content: center;
//    padding: 1rem;
//
//    a {
//        font-family: $second-font;
//        font-weight: 700;
//        margin: 0 1rem;
//        font-size: 30px;
//        color: #000;
//        text-decoration: none;
//        position: relative;
//
//        &:hover {
//            color: $first-color;
//        }
//
//        &.active {
//            color: $first-color;
//            //&:after {
//            //    content: '';
//            //    position: absolute;
//            //    bottom: -2px;
//            //    left: 0;
//            //    width: 100%;
//            //    height: 2px;
//            //    background: $first-color;
//            //}
//        }
//    }
//}

/* Styles pour les plats */
//#plats-grid {
//    display: none; /* Masquer par défaut */
//    width: 40rem;
//    height: 42rem;
//    max-width: 1200px;
//    background-repeat: no-repeat;
//    background-size: 109% 115%;
//    background-position: center;
//    padding: 4rem 2.5rem;
//    margin: 3rem auto; /* Centrer horizontalement */
//    //min-height: 795px; /* Hauteur minimale pour garantir une taille constante */
//    background-image: none; /* Par défaut, pas de fond */
//
//    &.has-plats {
//        display: block; /* Afficher lorsque les plats sont chargés */
//        background-image: url("../images/1.png"); /* Afficher le fond lorsque les plats sont chargés */
//    }
//
//    .plat-card {
//        display: flex;
//        flex-direction: column;
//        margin-bottom: 1rem;
//
//        .plat-header {
//            display: flex;
//            justify-content: space-between;
//            align-items: baseline;
//            width: 100%;
//            padding: 0.5rem 0;
//
//            .plat-title {
//                font-family: $second-font;
//                font-size: 25px;
//                color: $third-color;
//                text-decoration: none;
//                transition: color 0.2s;
//                font-weight: 600;
//            }
//
//            .menu-line {
//                flex-grow: 1;
//                border-bottom: 1px dotted $first-color;
//                margin: 0 14px;
//                align-self: center;
//            }
//
//            .plat-price {
//                font-family: $second-font;
//                font-size: 25px;
//                font-weight: 700;
//                color: $third-color;
//                align-self: center;
//            }
//        }
//
//        .plat-description {
//            font-family: $main-font;
//            font-size: 0.9em;
//            color: $third-color;
//            margin-top: 0.3rem;
//        }
//
//        p {
//            font-family: $second-font;
//            font-size: 20px;
//            font-weight: 300;
//            color: $fourth-color;
//        }
//    }
//
//    @media (max-width: 768px) {
//        .plat-card {
//            width: 100%;
//        }
//    }
//}

.card-title {
    margin: 0;
    font-size: 1.5em; /* Taille de la police */
    color: #fff; /* Couleur du texte */
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition for zoom effect and color change */
}

.formule-content {
    display: none; /* Masquer par défaut */
    width: 40rem;
    height: 42rem;
    max-width: 1200px;
    background-repeat: no-repeat;
    background-size: 109% 115%;
    background-position: center;
    padding: 4rem 2.5rem;
    margin: 0 auto; /* Centrer horizontalement */
    //min-height: 795px; /* Hauteur minimale pour garantir une taille constante */
    background-image: none; /* Par défaut, pas de fond */
    height: 28rem;

    .formule-header {
        font-family: $second-font;
        font-size: 27px;
        text-decoration: underline;
        font-weight: 700;
        color: $first-color;
        text-align: center;
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            font-family: $main-font;
            font-size: 1.1em;
            color: #000;
            margin-bottom: 0.5rem;
            text-align: center; /* Centrer le texte */
        }
    }

    .separator {
        width: 80%;
        height: 1px;
        background-color: $fourth-color; /* Couleur de la ligne */
        margin: 2rem auto; /* Espacement autour de la ligne et centrage */
    }
}



    /* ====================== [ Page confidentialité] ====================== */

    .politique-de-confidentialité,
    .mentions-legales {
        padding: 8rem 2rem 4rem;
        font-family: $main-font;

        h1 {
            color: $first-color;
            font-family: $main-font;
            font-size: 22px;
            text-transform: uppercase;
            letter-spacing: 6px;
            margin-bottom: 1rem;
            line-height: 27px;
        }

        h2 {
            text-decoration: underline;
            font-size: 18px;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }

        span {
            color: $first-color;
            font-weight: 500;
        }
    }


@media screen and (min-width: 768px) {
    .intro {
            flex-direction: row;
            //margin: 4rem 15rem;
    
            .intro-img-container {
    
                .intro-img {
                    display: flex;

                    .intro-img_left {
                        position: relative;
                        left: 47px;
                    }
    
                    img {
                        //width: 140rem;
                        height: auto;
                    }

                    .img-border {
                        &.img2 {
                            width: 100%;
                        }
                        &.img1 {
                            width: 86%;
                        }
                        &.img3 {
                            width: 136rem;
                        }
                    }
                }
            }
    }

        .team {
            //margin: 9rem 0.5rem;
    
            .container-team {
                padding-top: 3rem ;
                h2 {
                    position: relative;
                    left: 50%;
                }
    
                .presentation {
                    display: flex;
                    flex-direction: row-reverse;
                    //margin: 2rem 18rem;
                    margin-bottom: 3rem;
                }
    
                .part-team {
                    width: 156%;
                    align-items: center;
    
                    .team-img {
                        width: 100%;
                    }
                }
            }
        }

        .events-carousel {

            .swiper-container {

                .swiper-wrapper {
                    justify-content: center;
                }
                .swiper-button-next,
                .swiper-button-prev {
                    display: none; // Masquer les boutons sur desktop
                }

                .swiper-pagination {
                    display: none; // Masquer la pagination sur desktop
                }

            }
        }

    .boxes {
        .container {
            //margin: 0 16rem;
            h2 {
                margin-bottom: 2rem;
                margin-top: 1rem;
            }
        }
    }


    //.portfolio {
    //    background-color: $fourth-color;
    //    padding-bottom: 2rem;
    //    .container_desk {
    //        display: block;
    //         max-width: 1200px;
    //         width: 100%;
    //        padding: 0 15px;
    //        margin: 0 auto;
//
    //        .gallery {
    //            position: relative;
    //            height: 560px;
//
    //            .items {
    //                    padding: 0 15px;
    //                    margin-bottom: 30px;
    //                    overflow: hidden;
    //                    width: 50%;
//
    //                &.width2 {
    //                    width: 25%;
    //                }
    //    
    //                .item-img {
    //                    overflow: hidden;
    //
    //                    &:hover img {
    //                        transform: scale(1.1);
    //                            }
    //    
    //                    img {
    //                        transition: all 0.4s;
    //                        width: 100%;
    //                        height: auto;
    //                        vertical-align: middle;
    //                        border-style: none;
    //                    }
    //                }
    //            }
    //        }
    //    }
//
    //    .container_mobile {
    //        display: none;
    //    }
    //}
}

@media only screen and (min-width : 600px) and (max-width : 1024px) {
    header {

        .img-toggle {
            bottom: 3.5rem;
        }
    }
}

@media screen and (max-width: 320px) {

    header {

        .navbar {
            .container {
                top: 1.5rem;

                .img-logo {
                    width: 12rem;
                }

                .img-toggle {
                    bottom: 3.1rem;
                }
            }
        }
    }


}

@media screen and (max-width: 375px) {
    .hero {
        .hero-presentation {
            div {
                margin-top: 3.3rem;
            }
        }
    }
}

@media only screen and (min-width : 445px) and (max-width : 560px) {
    .hero {
        .hero-presentation {
            div {
                margin-top: 3rem;
            }
        }
    }
}

@media only screen and (min-width : 561px) and (max-width : 650px) {
    .hero {
        .hero-presentation {
            div {
                margin-top: 2.8rem;
            }
        }
    }
}

@media only screen and (min-width : 651px) and (max-width : 760px) {
    .hero {
        .hero-presentation {
            div {
                margin-top: 2.6rem;
            }
        }
    }
}

@media only screen and (min-width : 761px) and (max-width : 930px) {
    .hero {
        .hero-presentation {
            div {
                margin-top: 2.3rem;
            }
        }
    }
}

@media only screen and (min-width : 930px) and (max-width : 1023px) {
    .hero {
        .hero-presentation {
            div {
                margin-top: 1.9rem;
            }
        }
    }
}

@media only screen and (min-width : 1024px) and (max-width : 1100px) {
    .hero {
        .hero-presentation {
            div {
                margin-top: 4.9rem;
            }
        }
    }
}

@media only screen and (min-width : 1100px) and (max-width : 1400px) {
    .hero {
        .hero-presentation {
            div {
                margin-top: 4.5rem;
            }
        }
    }
}

@media only screen and (min-width : 1401px) and (max-width : 1650px) {
    .hero {
        .hero-presentation {
            div {
                margin-top: 3.6rem;
            }
        }
    }
}

@media screen and (min-width: 1751px) {
    .hero {
        .hero-presentation {
            div {
                margin-top: 3rem;
            }
        }
    }
}




@media screen and (min-width: 1025px) {


    header {

        .navbar {
            height: 6.5rem;
            padding: 0.5rem 1rem;

            .container {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                height: 6rem;
                position: fixed;
                top: 0;
                background: #ffffff;
                width: 100%;
                z-index: 2;

                .img-logo {
                    width: 14rem;
                    position: relative;
                    top: 0.5rem;
                }
            }
        }


        .img-toggle {
            display: none;
        }

        .navbar-content {
            display: flex;
            font-family: $main-font;
            color: $first-color;
            font-weight: 500;
            position: static;
            align-items: end;

            .navbar-nav {
                display: flex;

                .nav-item {
                    margin: 0 3rem;
                    position: relative;
                    display: flex;
                    height: 6rem;
                    align-items: center;
                    top: 0.5rem;

                    .nav-link.mail {
                        display: none;
                    }

                    .nav-link.phone {
                        display: none;
                    }

                    .sub-menu {
                        display: none;
                        position: absolute;
                        background-color: #ffffff;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                        top: 96px;
                        border-top: 2.5px solid $first-color;

                        ul {
                            list-style-type: none;
                            padding: 0;
                            margin: 0;

                            position: relative;
                            left: 0;
                            top: 163%;
                            width: 11rem;
                            text-align: left;
                            z-index: 1;
                            -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
                            transition: .5s;

                            li {

                                a {
                                    display: block;
                                    padding: 10px 20px;
                                    text-decoration: none;
                                    color: #333;
                                    font-weight: 500;
                                    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
                                    width: 11rem;

                                    &:hover {
                                        background-color: $first-color;
                                        color: $second-color;
                                        //width: 11rem;
                                    }
                                }
                            }
                        }
                    }

                    &:hover .sub-menu {
                        display: block;
                        left: -1.5rem;
                        width: 11rem;
                    }

                    .nav-link {
                        text-decoration: none;
                        color: $third-color;
                        display: inline-block;
                        transition: color 0.5s;
                        font-size: 18px;

                        &:hover {
                            color: $first-color;
                        }

                        &::before {
                            font-family: "Font Awesome 5 Free";
                            display: inline-block;
                            padding-right: 3px;
                            vertical-align: middle;
                            font-weight: 900;
                        }

                        i {
                            font-size: 15px;
                            display: inline-block;
                        }
                    }

                    .fa-angle-down::before {
                        content: "\f107";
                    }

                    .nav-link.mail::before {
                        content: '\f0e0';
                    }

                    .nav-link.phone::before {
                        content: '\f095';
                    }
                }

            }
        }
    }

    .hero {
        //margin-top: 6rem;
        padding: 4rem 0rem 7rem;

        .hero-presentation {

            h1 {
                font-size: 60px
            }

            h2 {
                font-size: 34px;
                margin: 2.5rem;
            }

            h3 {
                font-size: 18px;
            }

            div {
                padding: 0;
               // margin-top: 5rem;
                justify-content: center;
                flex-direction: row;

                .hero-btn {
                    margin: 1rem;
                }
            }

            .shape-bottom {
                position: absolute;
                width: 102%;

                img {
                    display: block;
                    width: calc(100% + 1.3px);
                    position: relative;
                    //left: 50%;
                    transform: rotate(180deg);

                }
            }

        }
    }

    .intro {
        margin: 4rem 15rem;
    }

    .boxes {
        display: flex;
        justify-content: center;

        .container {
            margin: 0 16rem;
        }
    }

    .team {
        .presentation {
            margin: 2rem 18rem;
        }
    }

    .events-carousel {
        padding: 4rem 1.5rem;
    }

    .portfolio {
        padding-bottom: 2rem;
        .container_desk {
            display: block;
             max-width: 1200px;
             width: 100%;
            padding: 0 15px;
            margin: 0 auto;

            .gallery {
                position: relative;
                height: 560px;

                .items {
                        padding: 0 15px;
                        margin-bottom: 30px;
                        overflow: hidden;
                        width: 50%;

                    &.width2 {
                        width: 25%;
                    }
        
                    .item-img {
                        overflow: hidden;
    
                        &:hover img {
                            transform: scale(1.1);
                                }
        
                        img {
                            transition: all 0.4s;
                            width: 100%;
                            height: auto;
                            vertical-align: middle;
                            border-style: none;
                        }
                    }
                }
            }
        }

        .container_mobile {
            display: none;
        }
    }

    .form {
        //flex-direction: row; // En ligne pour desktop
        justify-content: space-between;
        padding: 5rem 6rem;

        .form-contact {
            display: flex;
            justify-content: center;
            margin-top: 2rem;

        .wpcf7 {
            width: 54rem;
            display: flex;
            margin-right: 3rem;
        }

        form {
            flex: 1;
            max-width: 100%; // Limite la largeur du formulaire
        }

        .form-name,
        .form-adress
         {
            display: flex;
            justify-content:flex-start;

            label {
                margin-right: 2rem;
            }
        }

        textarea {
            width: 47.8rem;
        }

        .map-container {
            flex: 1;
            max-width: 50%;
            padding-left: 2rem; // Espace entre le formulaire et la carte

            iframe {
                width: 100%;
                height: 100%; // Prend toute la hauteur du conteneur
            }
        }
    }
    }

    footer {
        .container {
            padding: 0 19rem;

            .row-social {
                .logo {
                    img {
                        width: 15rem;
                    }
                }

                .social {
                    a {
                        img {
                            
                            top: 1.3rem;

                            &.facebook {
                                left: 0.3rem;
                            }

                            &.tripadvisor {
                                left: 4rem;

                            }
                        }
                    }
                }
            }
        }
    }

    /* ====================== [ Page menu ] ====================== */

    .plats-container {
        padding-top: 30rem;

        .cards-bx {
            display: flex;
            padding: 3.5rem 1rem 2rem;
        }
    

    }

}


@media screen and (min-width: 1378px) {

    header {

        .navbar-content {

            .navbar-nav {

                .nav-item {

                    .nav-link.mail {
                        display: block;
                    }

                    .nav-link.phone {
                        display: block;
                    }
                }
            }
        }
    }

    .services {
        .first-row {
            .title-services {
                width: 60rem;
            }

        }

        .second-row {
            width: 29rem;
        }
    }
}

@media screen and (max-width: 1023px) {

    header {

        .navbar-content {

            flex-direction: column;
            align-items: center;
            width: 100%;
            background: $third-color;
            position: absolute;
            top: 7rem;
            left: 0;
            animation: slideDown 0.3s ease-in-out;

        }

    }
}